body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

header {
  padding: 20px;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #22c55e;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #22c55e;
}

.hero {
  padding: 60px;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #22c55e;
  color: #000;
  padding: 14px 22px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.btn:hover {
  opacity: 0.9;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.clickable {
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s, border 0.2s;
  border: 1px solid #222;
}

.clickable:hover {
  transform: translateY(-5px);
  border: 1px solid #22c55e;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
}
